---
# Only the main Sass file needs front matter
---

@import 'main';

/* Custom Light Mode Overrides */
html[data-mode="light"] {
  --main-bg: #ffffff;
  --sidebar-bg: #f6f8fa;
}

/* Custom Dark Mode Overrides */
html[data-mode="dark"] {
  --main-bg: #000000;
  --sidebar-bg: #161b22;
  --topbar-bg: #161b22;
}
